results/*
results*/*
.ipynb_checkpoints/*
src/*.out
.DS_Store
Sonoma/*

#working files
power-systems.log
src/GenX_to_Sienna_FPA.jl
src/GenX_to_Sienna_RT.jl
src/simulation_builder_simple.jl
src/Generators_variability.csv
src/_helpers.jl
src/nve_plexos2sienna_final.jl
src/NVE_weather.jl
src/NVE_non_weather.jl
src/GenX_to_Sienna_backup.jl
